/* debug */
.debug .main-section{
    background-color: lightsalmon;
}

.debug footer{
    background-color: #282828;
}
/* fine debug */


/* commons */
.grey{ color: #a3a3a3; }

.white{ color: white; }

*{ font-family: 'Roboto', sans-serif; }
/* fine commons */


/* main */
main{ height: calc(100vh - 100px); }

.container-fluid{ display: flex; height: 100%; }

.main-row{height: 100%;}

aside{ display: flex; width: 250px; height: 100%; background-color: black;}

.main-section{ flex-basis: calc(100% - 250px); }
/* fine main */


/* aside */
#logo{ width: 70%; }

.home{list-style: none; }
.home::before{content: url(../img/home.svg); display: inline-block; vertical-align: middle; width: 24px; margin-right: 5px;}

.search{list-style: none; }
.search::before{content: url(../img/search.svg); display: inline-block; vertical-align: middle; width: 24px; margin-right: 5px;}

.library{list-style: none; }
.library::before{content: url(../img/libreria.svg); display: inline-block; vertical-align: middle; width: 24px; margin-right: 5px;}

.playlist h4{text-transform: uppercase;}

.crea-playlist img {width: 40px; vertical-align: middle; filter: invert(60%);}

.playlist ul{ display: block; list-style: none; height: 225px; overflow: auto;}

.installa-app{border-bottom: 2px solid grey; font-size: 14px;}
.installa-app::before {content: url(../img/download.svg); display: inline-block; vertical-align: middle; width: 14px; margin-right: 5px;}

.profilo{color: white; align-items: center;}
.profilo-img{height: 25px; width: 25px; background-color: grey; border-radius: 100%;}

/* aside */


/* footer */
footer{
    position: fixed;
    height: 100px;
    width: 100%;
}
/* footer */