/* debug */
.debug .main-section{
    background-color: lightsalmon;
}

.debug footer{
    
}


/* commons */
.grey{ color: #a3a3a3; }

.white{ color: white; }

*{ font-family: 'Roboto', sans-serif; }


/* main */

main{ height: calc(100vh - 100px); }

.main-row{height: 100%;}


/* aside */

aside{ width: 250px; height: 100%; background-color: black; overflow: hidden;}

.upper-aside{ height: calc(100% - 75px); }

.add-playlist{}

.lista-playlist{ list-style: none; height: 60%; overflow: auto;}

.lower-aside{ height: 75px; background-color: black; }

#logo{ width: 70%; }

.home{list-style: none; }
.home::before{content: url(../img/home.svg); display: inline-block; vertical-align: middle; width: 24px; margin-right: 5px;}

.search{list-style: none; }
.search::before{content: url(../img/search.svg); display: inline-block; vertical-align: middle; width: 24px; margin-right: 5px;}

.library{list-style: none; }
.library::before{content: url(../img/libreria.svg); display: inline-block; vertical-align: middle; width: 24px; margin-right: 5px;}

.playlist h4{text-transform: uppercase;}

.crea-playlist img {width: 40px; vertical-align: middle; filter: invert(60%);}

.installa-app{border-bottom: 2px solid grey; font-size: 14px;}
.installa-app::before {content: url(../img/download.svg); display: inline-block; vertical-align: middle; width: 14px; margin-right: 5px;}

.profilo{color: white; align-items: center;}
.profilo-img{height: 25px; width: 25px; background-color: grey; border-radius: 100%;}











/* main-section */
.upgrade-bar{height: 100px; filter: opacity(60%); background-color: #080B12; text-decoration: none;}
.btn-upgrade{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 21px;
    border: 2px solid white;
    border-radius: 30px;
}






/* footer */
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: #282828;
}